.redesign {
    padding: 80px 0;
    margin-bottom: 220px;
}
.redesign__wrapper {
    display: flex;
    gap: 20px;
    @media (max-width:992px) {
        flex-wrap: wrap;
    }
}
.redesign__description {
    flex: 1 1 60%;
    display: flex;
    flex-direction: column;
    @media (max-width:992px) {
        flex: 1 1 100%;
    }
}
.redesign__title {
    margin: 0;
    margin-bottom: 100px;
    @media (max-width:1124px) {
        margin-bottom: 40px;
    }
}
.redesign__text {
    margin: 0;
    margin-bottom: 10px;
}
.redesign__text {
    p{
        line-height: 1.5;
        margin: 0;
        margin-bottom: 10px;
    }
    p:last-child{
    margin-bottom: 50px;
    }
}
.redesign__btn{
    align-self: start;
    margin-top: auto;
}
.redesign__img {
    position: relative;
    min-width: 469px;
    min-height: 475px;
    flex: 1 1 40%;
    background-color: #C4C4C4;
    img{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    @media (max-width: 1124px) {
        min-width: 350px;
    }
    @media (max-width:992px) {
        flex: 1 1 100%;
    }
}