
@import "block/variables.scss";
@import "block/settings.scss";
@import "block/fonts.scss";


.conteiner {
    max-width: 1190px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 992px) {
        padding: 0 38px;
    }
}
button {
    border: none;
    padding: 0;
}
.title {
    color: #57463A;
    font-family: "TenorSans", sans-serif;
}
.title-h1{
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    font-weight: inherit;
  
}
.title-h2{
    margin: 0;
    line-height: 54px;
    font-size: 48px;
    @media (max-width: 768px){
        font-size: 32px;
    }
}
.title-h3 {
    font-size: 24px;
    color: #000;
}
//button======================================================================

.btn {
    padding: 18px 56px;
    display: inline-block;
    color: #fff;
    background-color: $btn-color;
    &:hover {
        background-color: $btn-hover;
        transition: background-color 0.4s;
    }
    &:active {
        background-color: $btn-hover;
        color: rgba(255, 255, 255, 0.836);
        transition: background-color 0.1s;
    }
}
.btn_pages{
    padding: 18px 60px;
    font-weight: 700;
    background-color: #fff;
}

//============================================================================
//header
@import "block/header.scss";
//main
@import "block/mainscreen.scss";
@import "block/specialization.scss";
@import "block/family-workshop.scss";
@import "block/workshop-video.scss";
@import "block/our-services.scss";
@import "block/warranty.scss";
//tutorial
@import "block/tutorial__mainscreen.scss";
@import "block/tutorial__examples-works.scss";
@import "block/tutorial__tech.scss";
@import "block/tutorial__slogan.scss";
@import "block/tutorial__restoration-workshops.scss";
@import "block/tutorial__carpentry.scss";
//footer
@import "block/footer.scss";


img {
vertical-align: top;
}
body {
    color: $text-basis_1;
    font-size: 18px;
    background-color: #F3EFEA;
    font-family: "OpenSans", sans-serif;
    font-weight: 300;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
}
.header {

}
//title==========================================================================



